<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
        <h1>Hai {{user.username}}</h1>
        <div class="mt-2">
            <h3>Welcome to Dashboard!...</h3>
        </div>
    </div>
</div>