<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
    <h1>{{message}}</h1>
    <div class="mt-4">
        <a class="btn btn-primary" href="/">Back to Login!</a>
    </div>
</div>