<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container card shadow" style="padding: 30px;">
        <div class="mb-3 text-center">
            <h1>Login</h1>
        </div>
        {{#if message}}
            <div class="mt-2 mb-2">
                <div class="alert alert-{{alert}}" role="alert">
                {{message}}
                </div>
            </div>
        {{/if}}
        <div class=" mt-2 mb-2">
            <form method="post" action="/login">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="inputEmail3">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="inputPassword3">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                    Remember Me
                    </label>
                </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>