extends includes/main.pug

block content
        <section id="page">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h1>404 Page Not Found</h2>
                        <p>Page you looking for does not exists</p>
                      
                    </div>
                </div>
            </div>
        </section>