extends includes/main.pug

block content
    <section id="page">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <h2>My name is Yuva. I will teach you the follwing courses</h2>
            if courses.length > 0
              ul 
                each course in courses
                  li #{course}
            else 
                p(class="lead") No courses available
          </div>
        </div>
      </div>
    </section>