<section id="page">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>My name is Yuva. I'm learning the follwing courses</h2>
        {{#if  course_exists}}
            <ul>
                {{#each courses}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            {{else}}
                <p class="lead">No courses available</p>
        {{/if}}
      </div>
    </div>
  </div>
</section>