body {
    margin: 0%;
    padding: 0%;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(254, 222, 92);
}

.main-header__item-list {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
}

.main-header__item {
    margin: 0%;
    padding: 0%;
}

.main-header__item {
    text-decoration: none;
    color: #fff;
}

.main-header__nav {
    display: flex;
    align-items: center;
    height: 100%;
}