
html 
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        title #{docTitle}
        link(rel="icon" type="image/x-icon" href="assets/favicon.ico")
        link(href="css/styles.css" rel="stylesheet")
        if path === '404'
            link(href="css/404.css" rel="stylesheet")
        else if path === 'about'
            link(href="css/about.css" rel="stylesheet")
        block styles
    body(id="page-top")
        nav(class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav")
            div.container.px-4
                a(class="navbar-brand" href="/") JVLcode
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarResponsive")
                    ul(class="navbar-nav ms-auto")
                        li(class="nav-item")
                            a(class=(path =='about'?'nav-link active':'nav-link') href="/about") About
                        li(class="nav-item")
                            a(class="nav-link" href="/services") Services
                        li(class="nav-item")
                            a(class="nav-link" href="/contact") Contact
        
        block content
    
    footer(class="py-5 bg-dark")
        div(class="container px-4")
            p(class="m-0 text-center text-white") Copyright &copy; Your Website 2022
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js")
        script(src="js/scripts.js")