<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>File Upload</title>
  </head>
  <body>
    <h1>Single FileUpload</h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <span>Upload Single file</span>
      <input type="file" name="image" required /> <br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
