<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
        <div class="mb-4 text-center">
            <h1>MongoDB CRUD</h1>
        </div>
        {{#if edit_id}}
        <div class="container">
            <div class="mb-3">
                <span><h3>UPDATE</h3></span>
            </div>
            <form action="/update/{{edit_id}}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="title" value="{{edit_book.title}}">
                    <label for="floatingInput">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" name="author" value="{{edit_book.author}}">
                    <label for="floatingPassword">Author</label>
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
        {{else}}
        <div class="container">
            <div class="mb-3">
                <span><h3>CREATE</h3></span>
            </div>
            <form action="/create" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="title" placeholder="Express.js">
                    <label for="floatingInput">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" name="author" placeholder="Yuva">
                    <label for="floatingPassword">Author</label>
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
</div>
    