<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
        <div class="mb-4 text-center">
            <h1>MongoDB CRUD</h1>
        </div>
        {{#if message}}
            <div class="mt-2 mb-2">
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            </div>
        {{/if}}
        <div class="card shadow">
            <div class="card-title text-center mt-3 mb-2">
                <h3>{{title}}</h3>
            </div>
            <table class="table table-hover">
                <tbody>
                {{#each books}}
                    <tr>
                        <td>{{this.title}} - {{ this.author }} </td>
                        <td><a class="btn btn-secondary" href="/update?edit_id={{this._id}}">Edit</a></td>
                        <td><a class="btn btn-danger" href="/?delete_id={{this._id}}" onclick="return confirm('Are you sure want to delete?...')">Delete</a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <div class="align-self-center mt-2 mb-3">
                <a class="btn btn-primary" href="/create">Create</a>
            </div>
        </div>
    </div>
</div>